<!doctype html>
<html>
<head>
    <title>Notecard app!</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .row div{ background-color:#eee;}
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="span12"></div>
        </div>
        <div class="row">
            {% block content %}

            {% endblock %}
        </div>
        <div class="row">
            <div class="span4"></div>
            <div class="span4"></div>
            <div class="span4"></div>
        </div>
        <div class="row">
            <div class="span3"></div>
            <div class="span3"></div>
            <div class="span3"></div>
            <div class="span3"></div>
        </div>
        <div class="row">
            <div class="span2"></div>
            <div class="span2"></div>
            <div class="span2"></div>
            <div class="span2"></div>
            <div class="span2"></div>
            <div class="span2"></div>
        </div>
    </div>
</body>
</html>